img{
    width:30%;
    margin: calc(10%/6);
}
nav{
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(163, 87, 87);
    width: 30%;
    margin: calc(10%/6);
    padding:1em 0;
}